# Import the pandas package. But nickname it 'pd' for short.

In [1]:
import pandas as pd

# Read a CSV (or TSV or anything!)

Here we are reading in a .tsv where the first column is "geneSymbol" and the second column is "chromosome"

In [2]:
pd.read_csv('data/gene_chrom.tsv', sep='\t')

         geneSymbol chromosome
0           DDX11L1       chr1
1             OR4F5       chr1
2          DQ597235       chr1
3          DQ599768       chr1
4      LOC100132062       chr1
...             ...        ...
30614            U3       chrX
30615      SNORD112       chrX
30616            U7       chrX
30617       Mir_105       chrX
30618            U6       chrY

[30619 rows x 2 columns]

We want to save it to a variable so that we can manipulate it in other ways and CHECK IT OUT!

In [3]:
gene_chrom_table = pd.read_csv('data/gene_chrom.tsv', sep='\t')

# Check out your data! What are we working with here?

We can sneak a peek at just the first few rows...

In [4]:
gene_chrom_table.head()

     geneSymbol chromosome
0       DDX11L1       chr1
1         OR4F5       chr1
2      DQ597235       chr1
3      DQ599768       chr1
4  LOC100132062       chr1

In [5]:
gene_chrom_table.head(2)

  geneSymbol chromosome
0    DDX11L1       chr1
1      OR4F5       chr1

Or the last few rows...

In [6]:
gene_chrom_table.tail(3)

      geneSymbol chromosome
30616         U7       chrX
30617    Mir_105       chrX
30618         U6       chrY

We can get a sense of the "shape" of the data...

In [7]:
gene_chrom_table.shape

(30619, 2)

^ This is what that means:

In [8]:
len(gene_chrom_table.columns)

2

In [9]:
len(gene_chrom_table)

30619

How about indexing into a row?

In [10]:
gene_chrom_table['geneSymbol']

0             DDX11L1
1               OR4F5
2            DQ597235
3            DQ599768
4        LOC100132062
             ...
30614              U3
30615        SNORD112
30616              U7
30617         Mir_105
30618              U6
Name: geneSymbol, Length: 30619, dtype: object

In [11]:
[gene_chrom_table.geneSymbol == 'TP53']

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 30614    False
 30615    False
 30616    False
 30617    False
 30618    False
 Name: geneSymbol, Length: 30619, dtype: bool]

In [12]:
gene_chrom_table[gene_chrom_table.geneSymbol == 'TP53']

      geneSymbol chromosome
11939       TP53      chr17

You can also directly use the index number

In [13]:
gene_chrom_table.loc[11939]

geneSymbol     TP53
chromosome    chr17
Name: 11939, dtype: object

In [14]:
gene_chrom_table[gene_chrom_table.geneSymbol.isin(['TP53', 'BRCA1'])]

      geneSymbol chromosome
11939       TP53      chr17
12301      BRCA1      chr17

# OK let's read in another file. This one is a bit trickier

This file, which can be found at ../data/chrom_lengths.tsv, is actually *space-separated* and does not yet have column labels.

In [ ]:
chrom_length_table = pd.read_csv('data/chrom_lengths.tsv', sep=' ', names=['chrom', 'length'])

In [ ]:
chrom_length_table.head()

But! We have a problem. It looks like our lengths have actually been processed by pandas as strings instead of integers when they were loaded from the file.

In [ ]:
chrom_length_table.loc[0,'length']

In [ ]:
type(chrom_length_table.loc[0,'length'])

In [ ]:
type(249698942)

Python is **not** happy when we try to treat this value as an integer and use it in a summation

In [ ]:
chrom_length_table.loc[0, 'length'] + 1

# Apply magic

### So let's make a new column where we convert each of these values into integers so we can do fancy things like graph them. We're going to be using the "apply" construct, which basically means we are defining a function to process each row and do something to it, then return the result of all of those functions.

In [ ]:
# Find a visual

For each value, we're going to want to replace the commas in the string with an empty string...

In [ ]:
'249,698,942'.replace(',', '')

Then convert them to integers!

In [ ]:
int('249,698,942'.replace(',', ''))

In [ ]:
type(int('249,698,942'.replace(',', '')))

Et voila! We can treat them like numbers now.

In [ ]:
int('249,698,942'.replace(',', '')) + 58

### Okay so here's our function definition

In [ ]:
# Here's our function that will be "applied" to each row
def turn_string_number_into_integer(row):
    # Access the length from this row...
    string_length = row['length']
    # Convert the length into an integer...
    int_length = int(string_length.replace(',', ''))
    # And return the integer!
    return int_length

Now, when we "apply" the function to each row (note: axis=1 implies processing each row one at a time, otherwise the default is to process each column one at a time), we will be returned a new column with the function's results for each row!

In [ ]:
chrom_length_table.apply(turn_string_number_into_integer, axis=1)

And we have to make sure to save it back to our dataframe with a new name

In [ ]:
chrom_length_table['numeric_length'] = chrom_length_table.apply(turn_string_number_into_integer, axis=1)

In [ ]:
chrom_length_table.head()

Alright, we don't really need that old column anymore, do we? We can subset out just the columns we want to keep and save them into another dataframe object.

In [ ]:
chrom_length_table[['chrom', 'numeric_length']]

In [ ]:
new_chrom_length_table = chrom_length_table[['chrom', 'numeric_length']]

In [ ]:
new_chrom_length_table.head()

Here's a useful pandas function you apply to this column now:

In [ ]:
new_chrom_length_table.numeric_length.mean()

Or you can get a plot of the lengths!

In [ ]:
new_chrom_length_table.numeric_length.plot(kind='bar')

### but surprise surprise, it turns out that Pandas actually has a parameter built in to account for string conversion of numbers...

In [ ]:
chrom_length_table = pd.read_csv('data/chrom_lengths.tsv', sep=' ', names=['chrom', 'length'], thousands=',')
chrom_length_table.head()

# Gene Density

<img src="img/geneDensityArticle2020.png">

Okay, so now we have a table of genes mapped to chromosomes (*chrom_length_table*), and a table telling us how long each chromosome is (*gene_chrom_table*).
Let's try to calculate **gene density per chromosome**. We will want to figure out the total number of genes on each chromosome normalized by how long that chromosome is

# Group by

A reminder of what our *gene_chrom_table* table looked like:

In [15]:
gene_chrom_table.head()

     geneSymbol chromosome
0       DDX11L1       chr1
1         OR4F5       chr1
2      DQ597235       chr1
3      DQ599768       chr1
4  LOC100132062       chr1

In [16]:
gene_chrom_table.groupby('chromosome').count()

                       geneSymbol
chromosome
chr1                         2735
chr10                        1162
chr11                        1817
chr12                        1382
chr13                         566
chr14                        1048
chr15                        1441
chr16                        1148
chr17                        1647
chr17_ctg5_hap1                26
chr17_gl000204_random           1
chr17_gl000205_random           1
chr18                         458
chr19                        1862
chr19_gl000209_random          10
chr1_gl000191_random            3
chr1_gl000192_random            7
chr2                         1763
chr20                         754
chr21                         362
chr22                         729
chr3                         1484
chr4                         1068
chr4_ctg9_hap1                  5
chr4_gl000193_random            1
chr4_gl000194_random            3
chr5                         1233
chr6                         1574
chr6_apd_hap1                 109
chr6_cox_hap2                 217
chr6_dbb_hap3                 194
chr6_mann_hap4                171
chr6_mcf_hap5                 189
chr6_qbl_hap6                 203
chr6_ssto_hap7                182
chr7                         1469
chr7_gl000195_random            3
chr8                         1004
chr9                         1237
chr9_gl000201_random            1
chrM                           20
chrUn_gl000211                  2
chrUn_gl000212                  2
chrUn_gl000213                  4
chrUn_gl000214                  1
chrUn_gl000218                  2
chrUn_gl000219                  3
chrUn_gl000220                  7
chrUn_gl000221                  3
chrUn_gl000222                  4
chrUn_gl000223                  7
chrUn_gl000227                  1
chrUn_gl000228                  7
chrUn_gl000229                  1
chrUn_gl000237                  1
chrUn_gl000241                  1
chrUn_gl000243                  2
chrUn_gl000247                  1
chrX                         1148
chrY                          133

In [17]:
gene_count_by_chromosome = gene_chrom_table.groupby('chromosome').count()

In [18]:
gene_count_by_chromosome.columns = ['count']

You can do other things besides count, for example calculate the mean, variance, or standard deviation by group. Check out the documentation here to learn what else is possible: https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html

So this is now a table where we have grouped by chromosome and gotten a total of how many rows are associated with that chromosome.

In [19]:
gene_count_by_chromosome.head()

            count
chromosome
chr1         2735
chr10        1162
chr11        1817
chr12        1382
chr13         566

And this is our table specifying lengths per chromosome:

In [20]:
chrom_length_table.head()

NameError: name 'chrom_length_table' is not defined

In [ ]:
### Now you try: get the mean, standard deviation, and variance of the length column in chrom_length_table

In [ ]:
### Now you try: return a new column with length divided by two from chrom_length_table

### We want to put information both about the chromosome lengths and their gene counts into the same table. So we want to *join* information from both tables together into one table. To do this, we need to make sure that both tables have indices in the same format that can be cross-referenced.

<img src="img/chromNamesRant.png">

#### Anyways, we have to make sure that the chromosome names have the same format in both of our tables so we can combine them.

In [ ]:
def add_chr(r):
    return 'chr' + r['chrom']

In [ ]:
chrom_length_table['chromosome'] = chrom_length_table.apply(add_chr, axis=1)

In [ ]:
chrom_length_table.head()

### And now, we can join the two tables on the "chromosome" column!

In [ ]:
gene_count_by_chromosome.head()

In [ ]:
joined_table = chrom_length_table.join(gene_count_by_chromosome, on='chromosome')

In [ ]:
joined_table

# Column-wise operations

To calculate the gene density, we want to divide the number of genes by the number of bp in each chromosome. We can use pandas' column-wise operpations to do the job!

In [ ]:
joined_table['geneDensity'] = joined_table['count'] / joined_table['length']

In [ ]:
joined_table.head()

Let's all set the overall dataframe's index to be the chromosome name

In [ ]:
joined_table.index = joined_table['chromosome']

# This does the same thing as:

joined_table.index = joined_table.chromosome

In [ ]:
joined_table.head()

# And let's plot these densities now to get a sense of how gene density varies across the genome

In [ ]:
from matplotlib import pyplot as plt

plt.title('Gene Density per Chromosome')
plt.ylabel("Gene Density")
### Now you try: plot gene density as a bar plot.

#### Confirmed: chromosome 19 has about double the number of genes per any given stretch of DNA as the rest of the genome